<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider bar bar-assertive">Invasion Alert!</div>
      
        <div class="item item-avatar">
          <img src="https://wpthinktankdemo.files.wordpress.com/2014/03/matt-mullenweg.jpg?w=270&h=270">
          <h2>We are under attack by <b>marty2015</b>! </h2>
          <p>
            We were played like a <b>damn fiddle!</b>
          </p>
        </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item assertive" href="#">
          <i class="icon ion-log-in "></i>
          Intercept!
        </a>
        <a class="tab-item royal" href="#">
          <i class="icon ion-person-add "></i>
          Request Help
        </a>
        <a class="tab-item dark" href="#">
          <i class="icon ion-volume-mute "></i>
          Ignore
        </a>
      </div>

    </div>
    <div class="list card">
      <div class="item item-divider">Development</div>
      <div class="item item-body">
        <div class="list">
          a.item
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
      <i class="icon ion-plane"></i>
      Deployments</div>
      <div class="item item-body">
        <div>
          You have <b> 2 </b> missions underway.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
